
body {
    padding: 0px;
    margin: 0px;
    /* align-items: center;
    justify-content: center; */
    background-color: #e0e0e0;
    font-family:"Avenir", system-ui;
}

h1, h2{
    display: inline;
}


.menu-bar {
    background-color: #FCDFA6;
    color: black;
    margin: none;
    padding: 10px 0;
    text-align: center;
}


.menu-bar .logo {
    width: 30px; /* Adjust size as needed */
    height: auto; /* Maintains aspect ratio */
    margin-right: 10px; /* Space between the logo and the text */
}


.menu-bar h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: none;
    font-size: 40px;
}

.menu-bar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.menu-bar ul li {
    margin: 0 10px;
}

.menu-bar ul li a {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}

.menu-bar ul li a:hover {
    background-color: #F4B886;
}

.page_content {
    max-width: 800px;
    margin: 20px auto;
    padding: 40px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

table{
    background-color: #f0f0f0;
    /* padding: 50px; */
    
}

table {
    display: block;
    width: 100%;
  }
  
  table tr {
    display: block;
    width: 100%;
  }
  
  table td {
    display: block;
    padding: 30px;
    width: 100%;
    margin-bottom: 20px; /* Add spacing between cells */
  }
  
  /* Media query for screens wider than 700px (horizontal layout) */
  @media (min-width: 800px) {
    table {
      display: table;
      width: auto;
    }
  
    table tr {
      display: table-row;
    }
  
    table td {
      display: table-cell;
      width: auto;
      vertical-align: top; /* Align content to the top */
    }
  }

#fifths_icon{
    width:50px;
}

#wheel {
    position: relative;
    width: 500px;
    height: 500px;
    cursor: grab;
    
}

.wheel-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: center;
    pointer-events: none; /* Prevents individual images from capturing mouse events */
    transition: 0.2s;
}

.select{
    z-index: -2;
}

.hidden{
    display: none;
  }

button{
    background-color: #FCDFA6;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
    font-size: large;
    cursor: pointer;
    border: 10px rgb(255, 246, 169);
    transition: 0.2s;
    font-family: "Avenir";
}

button:hover{
    background-color: #F4B886;
}
#circnotes{
    position:absolute;
    z-index: 1;
    width: 500px;
    pointer-events: none;
}
